<div class="container">

	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">BurgerTime</h1>
			<h3 class="text-center">Order up!</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<input id="newBurger" type="text">
			<button type="submit" id="order">Order this burger!</button>
			<img src="../static/images/burger.jpeg" style="width: 100%">
		</div>		
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Ready to Eat</div>
				<div class="panel-body">
					<table class="table table-hover">
						<tbody>
						{{#each result}}
						{{#if this.devoured}}
						{{else}}
							<tr>
								<td>{{this.id}}</td>
								<td id="name" value={{this.burger_name}}>{{this.burger_name}}</td>
								<td><button id={{this.id}} type="submit" class="devour">Devour it!</button></td>
							</tr>
						{{/if}}
						{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Devoured</div>
				<div class="panel-body">
					<table class="table table-hover">
						<tbody>
						{{#each result}}
							{{#if this.devoured}}
								<tr>
									<td>{{this.id}}</td>
									<td>{{this.burger_name}}</td>
								</tr>
							{{/if}}
						{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div>
			<hr>
			<a href="/api">API</a>
			<a> | </a>
			<a href="https://github.com/ltdelia/SequelizeBurgerTime">Github Repo</a>
		</div>
	</div>
</div>

<script type="text/javascript">

// When the "Order this burger!" button is clicked...
$("#order").on('click', function(){
	
	// We grab the value of the corresponding input, where id=newBurger...
	var burger = {burger_name: $('#newBurger').val().trim()};

	// We grab the currentURL location...
	var currentURL = window.location.origin;

	// And POST the burger object, containing the burger_name, to the /api route
	$.post(currentURL + '/api', burger)
		.done(function(data){
			console.log(data);
		})

	// We return false so the page doesn't refresh
	return false;
});

// When a "Devour It!" button is clicked...
$(".devour").on('click', function(event){

	// We grab the id of the corresponding row/burger...
	var burger = {id: parseInt(event.target.id)};

	// We grab the currentURL location...
	var currentURL = window.location.origin;

	// And POST the burger object, this time containing the id, to the /api route
	$.post(currentURL + '/api', burger)
		.done(function(data){
			console.log(data);
		})

	// We return false so the page doesn't refresh
	return false;
})


</script>